<div class="container">
<h2>Add Blip</h2>
<%# CREATE BLIP FORM %>
  <div class="new-blip">
 <form action="/paths" method="post">

   <div class="form-group col-xs-3 top-marg">
       <input type="text" class="form-control " id="blipTitle" placeholder="Blip Name">

   <select class="selectpicker top-marg" id="blipDrop">
     <option>Select Type</option>
     <option>Education</option>
     <option>Resource</option>
     <option>Job</option>
   </select>

   </div>
   <div class="col-xs-2">
     <input type="text" class="form-control top-marg" id="blipYear" placeholder="Year">
   </div>

   <div class="form-group col-xs-7">
     <label for="description">Description</label>
       <textarea class="description-blip" rows="1" id="description">
     </textarea>
   </div>

<button type="submit" class="btn btn-warning btn-lg" id="pathButton">Add Blip</button>
</div>


  </div>


<%# SHOW ALL BLIPS OF PATH%>
<% path.blips.forEach(function(b) { %>
  <div class="path-blip">

    <div class="top-blip">
      <h4><%= b.title %></h4>
      <%= b.year %>
      <%= b.kind %>
    </div>
    <br>
    <div class="mid-blip">
      <p><%= b.description %></p>
    </div>

    <div class="low-blip">
      <%= b.link %>
    </div>

  </div>
<% }) %>


<script>

var $pathBtn = $('#pathButton')
$pathBtn.on(click, function(evt){
   var $blipTitle = $('#blipTitle').val(),
   var $description = $('#description').val(),
   var $year = $('#blipYear').val(),
   var $blipDrop = $('#blipDrop').val()


var opts = {
  method: 'post',
  url: '/paths',
  contentType: 'application/json',
  data: JSON.stringify({
    title: $blipTitle,
    description: $description,
    year: $year,
    kind: $blipDrop
    })
  }
$.ajax(opts).done(cb)
})


</script>
