
  <h1><%= path.name %></h1>
  <br>

<%# IF CURRENT USER AND ITS THERE PATH, SHOW FORM FOR EDIT%>

<%if(loggedIn && currentUser.local.name == path._by.local.name) {%>

<h2>Add Blip</h2>
<%# CREATE BLIP FORM %>
  <div class="new-blip">


   <div class="form-group col-xs-3 col-md-3 top-marg">
       <input type="text" class="form-control " id="blipTitle" placeholder="Blip Name">

   <select class="selectpicker top-marg" id="blipDrop">
     <option>Select Type</option>
     <option>Education</option>
     <option>Resource</option>
     <option>Job</option>
   </select>

      <button type="submit" class="subPath btn btn-warning btn-lg" id="pathButton">Add Blip</button>

   </div>
   <div class="col-xs-2 col-md-2">
     <input type="text" class="form-control top-marg" id="blipYear" placeholder="Year">
   </div>

   <div class="form-group col-xs-7 col-md-7">
     <label for="description">Description/Tips</label>
       <textarea class="description-blip" rows="1" id="description">
     </textarea>
   </div>



<% } %>

<%# HIDDEN ID FOR PATH%>
<div id='pathId' style= "display:none"><%=path._id%></div>

</div>


  <%#ALL BLIPS%>
  <div class="all-blips">
  <% blips.forEach(function(b) { %>
  <div ="blipContainer">
    <div data-year="<%= b.year %>" class="path-blip">
      <div class="top-blip">
        <h4><%= b.title %></h4>
        <%if(loggedIn && currentUser.local.name == path._by.local.name) { %>
          <button class="delete-btn" id='<%=b._id%>'> Delete</button><br>
        <% } %>
        <br>

        <%= b.kind %>

      </div>
      <br>
      <div class="mid-blip">
        <p><%= b.description %></p>
      </div>

      <div class="low-blip">
        <%= b.link %>
      </div>
    </div>

    <div class="yearBlip"><%= b.year %></div>

  </div>
  <% }) %>
  </div>

<%# <section id="cd-timeline" class="cd-container"></section>%>




<script>
var $pathId = $('#pathId')
var $blipId = $('#blipId')
var $pathBtn = $('#pathButton')
var $myBody = $('body')


$myBody.on('click', '.delete-btn', function(){

var $self = $(this)
  console.log("delete clicked!")
  var opts = {
    method: 'delete',
    url: '/paths/'+$pathId.text()+'/blips/'+$(this).attr('id')
  }
  var cb = function(data){
    $self.parent().parent().remove()
  }
  $.ajax(opts).done(cb)
})


$pathBtn.on('click', function(evt){
   evt.preventDefault();
   var $blipTitle = $('#blipTitle').val()
   var $description = $('#description').val()
   var $year = $('#blipYear').val()
   var $blipDrop = $('#blipDrop').val()


var opts = {
  method: 'post',
  url: '/paths/'+$pathId.text()+'/blips',
  contentType: 'application/json',
  data: JSON.stringify({
    title: $blipTitle,
    description: $description,
    year: $year,
    kind: $blipDrop
    })
  }
  var cb = function(data){
    // console.log(data)
    blips = data.blips
    newBlip = blips[blips.length-1]

    // console.log(newBlip.title)
    //  $('.all-blips').prepend('<div data-year="' + newBlip.year + '" class="path-blip" style="display:none"><div class="top-blip"><h4>' + newBlip.title + '</h4> ' + newBlip.year + ' ' + newBlip.kind +'<%if(loggedIn && currentUser.local.name == path._by.local.name) { %><button class="delete-btn" id='+ newBlip._id + '> Delete</button><br><% } %> </div><br><div class="mid-blip"><p>' + newBlip.description +'</p> </div><div class="low-blip">' + newBlip.link + '</div>')
    // console.log($('.path-blip').length);

    var position = 0;
    $('.path-blip').each(function(index, blip){
      if (newBlip.year > $(blip).data('year')){
        position = index
        return false;
      }
    })


    $('<div data-year="' + newBlip.year + '" class="path-blip" style="display:none"><div class="top-blip"><h4>' + newBlip.title + '</h4> ' + newBlip.year + ' ' + newBlip.kind +'<%if(loggedIn && currentUser.local.name == path._by.local.name) { %><button class="delete-btn" id='+ newBlip._id + '> Delete</button><br><% } %> </div><br><div class="mid-blip"><p>' + newBlip.description +'</p> </div><div class="low-blip">' + newBlip.link + '</div>').insertBefore($('.path-blip')[position]);


     $('.path-blip').eq(position).slideDown();

     $('#blipTitle').val("")
     $('#description').val("")
     $('#blipYear').val("")
     $blipDrop = $('#blipDrop').val("Select Type")
   }
$.ajax(opts).done(cb)
})


</script>
