<!-- /views/profile.ejs -->
<div class="page-header">
    <h1><%= user.local.name %></h1>
  <form class="" action="/users/<%=user.id%>/paths" method="post">

    <input type="text" class="form-control" id="pathName" name="name" placeholder="Path Name">

    <select class="smaller form-control col-xs-2" name="category">
      <option disabled selected value>Select Category</option>
      <option value="WebDevelopment">Web Development</option>
      <option value="Android">Android</option>
      <option value="IOS">IOS</option>
      <option value="UXDI">UXDI</option>
      <option value="3DModeling">3D-Modeling</option>
      <option value="Other">Other</option>
    </select>
    <h4><button type="submit" class="btn btn-warning btn-lg">Create Path</button></h4>
</form>
</div>

<h3>Your paths</h3>
<% user.paths.forEach(function(p) { %>
<a href="/paths/<%= p._id %>" class="path-name"><%= p.name %></a>
  <a href="/paths/<%= p._id %>/delete"> Delete</a><br>
<% }) %>

<br>
